@model ProductModel
<form method="post">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>
    <select  asp-for="CategoryId">
        @foreach(var item in Model.categories)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
    <label asp-for="Description"></label>
    <input asp-for="Description" />

    <button type="submit">Submit</button>
</form>