@model ProductModel


<form method="post">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <label asp-for="Category.Name"></label>
    <input asp-for="Category.Name" />
    <label asp-for="Description"></label>
    <input asp-for="Description" />

    <button type="submit">Submit</button>
</form>